.obj
save
*.exe

bin/
project/

src/arsig/arsig
src/de405/de405/jpleph_de405
src/de405/libde405.a
src/get_ctrl/get_ctrl
src/lambda/liblambda.a
src/lib/libcom.a
src/lsq/lsq
src/orbit/mergeerp
src/orbit/mergesp3
src/orbit/sp3orb
src/redig/redig
src/tedit/tedit
src/utils/xyz2enu
src/utils/enucov
src/protected/

example/config.*
example/products/
example/results/
example/2016/
